a {
    text-decoration: none;
}

.img__inner {
    display: flex; 
    gap: 30px; 
    padding: 10px 0; 
    max-width: 1000px; 
    margin: 0 auto;
}

.img__card {
    width: 44.44%;
}
 
.img-item {
    width: 100%;
    height: 100%; 
    object-fit: cover; /* width, heightといっしょに使います */
    border: 1px solid #111;
}
