{% extends 'base.html' %}

{% block title %}書籍詳細{% endblock title %}

{% block content %}
<div class="card">
    <h5 class="card-header">{{ object.title }}</h5>
    <div class="card-body">
        <p class="card-text"> {{ object.text }}</p>
        <div class="border p-4 mb-2">

            <!-- 子(xxx)モデルから、親(yyy)モデルを取得する際は、以下のコードを記載 -->
            <!-- xxx.yyy -->

            <!-- 親(yyy)モデルから、子(xxx)モデルを取得する際は、以下のコードを記載 -->
            <!-- yyy.xxx_set.all -->
            <!-- yyyは、今回は、object -->
            {% for review in object.review_set.all %}
            <div>
                <h3 class="h4">{{ review.title  }}</h3>
                <div class="px-2">
                    <span>(投稿ユーザー：{{ review.user.username }})</span>
                    <h6>評価：{{ review.rate }}点</h6>
                    <p>{{ review.text }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'review' object.pk %}" class="btn btn-primary">レビューする</a>
        <a href="{% url 'update-book' object.pk %}" class="btn btn-success">編集する</a>
        <a href="{% url 'delete-book' object.pk %}" class="btn btn-danger">削除する</a>
        <h6 class="card-title">{{ object.category }}</h6>
    </div>
</div>
{% endblock content %}
